
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Certifi</title>

    <!-- Bootstrap / core CSS -->
    <link href="/content/theme/bootstrap.min.css" rel="stylesheet">
    <link href="/content/css/nanoscroller.css" rel="stylesheet">
    
    <!-- Shared Custom styles -->
    <link href="/content/css/base.css" rel="stylesheet">

	@Section['Head'];
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid" style="background: white;">
            <img src="/content/img/cirtifi-logo.png" width="100" style="margin: 10px;" />
        </div>

    </nav>

	@Section['Content'];

    <script src="/content/scripts/jquery-3.3.1.min.js"></script>
    <script src="/content/scripts/jquery.nanoscroller.min.js"></script>
    <script src="/content/theme/bootstrap.min.js"></script>

    @Section['Script'];

</body>
</html>
